@using MyEshop.Utilities
@model IEnumerable<DataLayer.Users>

@{
    ViewBag.Title = "مدیریت کاربران";
}

<h2>مدیریت کاربران</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">افزودن کاربر جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.RoleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @item.RegisterDate.ToShamsi()
        </td>

        <td>
            <a class="btn btn-warning btn-sm" href="/Admin/Users/Edit/@item.UserID">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm"href="@Url.Action("Delete",new {id=item.UserID})">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
