@using DataLayer
@using DataLayer.ViewModels
@model DataLayer.Products
@{
    ViewBag.Title = Model.Title;
}


<section class="single-page">
    <header><h3> @Model.Title  </h3> </header>
    <article>
        <!-- Detail -->
        <div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
            <div>
                <span> قیمت : @Model.Price.ToString("#,0") تومان </span>
                <a onclick="AddToCart(@Model.ProductID)" class="add-to-card-link border-radius"> افزودن به سبد خرید </a>
            </div>
            <p>
                @Model.ShortDescription
            </p>
        </div>
        <!-- End Detail -->
        <!-- Gallery -->
        <div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
            <div class="large-image border-radius">
                <img class="border-radius" src="/Images/ProductImages/@Model.ImageName">
            </div>
            @if (Model.Product_Galleries.Any())
            {
                <div class="thumbnails-image">
                    <div class="row">
                        @foreach (var item in Model.Product_Galleries)
                        {
                            <div class="col-md-3 col-sm-3 col-xs-4 border-radius"><img class="border-radius" alt="@item.Title" src="/Images/ProductImages/@item.ImageName"></div>

                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </div>
        <!-- End Gallery -->
        <div class="clearfix"></div>
    </article>
</section>

<div class="tabs-product margin-top-25">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#main-content"> توضیحات کامل </a></li>
        <li><a data-toggle="tab" href="#properties"> ویژگی ها </a></li>
        <li><a data-toggle="tab" href="#comments"> نظرات کاربران </a></li>
    </ul>
    <div class="tab-content ">
        <!-- description -->
        <div id="main-content" class="tab-pane fade in active">
            @Html.Raw(Model.Text)
        </div>
        <!-- End description -->
        <!-- Chart -->
        <div id="properties" class="tab-pane fade">
            <h3> ویژگی های محصول : </h3>

            @if (ViewBag.ProductFeatures!=null)
            {
                List<ShowProductFeatureViewModel> list = ViewBag.ProductFeatures;
                
                <ul>
                    @foreach (var item in list)
                    {
                        <li> @item.FeatureTitle : @string.Join(" , ",item.Values)</li>
                    }
                </ul>
            }

        </div>
        <!-- End Chart -->
        <!-- Comment -->
        <div id="comments" class="tab-pane fade">
            <div class="comment-layer" id="commentProduct">
               @Html.Action("CreateComment")
                <ul class="comment-list" id="listComment">
                   @Html.Action("ShowComments")
                </ul>
            </div>
        </div>
        <!-- End Comment -->

    </div>
</div>
<section class="border-radius tags-layer">
   @foreach (var item in Model.Product_Tags)
   {
       <a href="/Search?q=@item.Tag">@item.Tag</a>
   }

</section>


<script>
    function successComment()
    {
        $("#Name").val("");
        $("#Email").val("");
        $("#WebSite").val("");
        $("#Comment").val("");
        $("#ParentID").val("");
    }

    function ReplyComment(id)
    {
        $("#ParentID").val(id);
        $("html, body").delay(2000).animate({ scrollTop: $('#commentProduct').offset().top }, 2000);
    }
</script>
