@model IEnumerable<DataLayer.Products>

@{
    ViewBag.Title = "Index";
}

<h2>لیست محصولات</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">افزودن محصول جدید</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            گروه های این محصول
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="thumbnail" src="/Images/ProductImages/Thumb/@item.ImageName"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (item.Prodct_Selected_Groups.Any())
            {
                <ol>
                    @foreach (var group in item.Prodct_Selected_Groups)
                    {
                        <li>
                            @group.Product_Groups.GroupTitle
                        </li>
                    }
                </ol>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            @item.CreateDate.ToString("dddd, dd MMMM yyyy")
        </td>
        <td>
            <a class="btn btn-default btn-xs" href="@Url.Action("ProductFeaturs",new {id=item.ProductID})">ویژگی های محصول</a>
            <a class="btn btn-info btn-xs" href="@Url.Action("Gallery",new {id=item.ProductID})">گالری محصول</a>
            <a class="btn btn-warning btn-xs" href="@Url.Action("Edit",new {id=item.ProductID})">ویرایش محصول</a>
            <a class="btn btn-danger btn-xs" href="@Url.Action("Delete",new {id=item.ProductID})">حذف محصول</a>
        </td>
    </tr>
}

</table>
